* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #eff4f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  padding: 20px;
  width: 470px;
  height: 520px;
  border-radius: 10px;
  background-color: #fffffe;
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.02);
}

.info {
  width: 420px;
  height: 520px;
  padding-left: 15px;
  position: relative;
}

button {
  height: 40px;
  width: 390px;
  color: white;
  background-color: #0b79f8;
  position: relative;
  border-radius: 6px;
}

button:hover {
  background-color: aquamarine;
  color: black;
  transform: scale(1.01);
}

h3 {
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.i {
  height: 30px;
  width: 390px;
}

#message {
  height: 150px;
  width: 390px;
  padding: 15px 0px;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 5px;
}

#name {
  padding: 15px 0px;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 5px;
}

#email {
  padding: 15px 0px;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 5px;
}
